.navigation-items {
    cursor: pointer;

    margin-left: 10px;
    font-size: 24px;
    display: block;
    white-space: nowrap;
    border-style: none;
    background-color: transparent;
    z-index: 100;

    transition: all ease 0.5s;
}

.navigation-items:hover {
    font-size: 50px;
    font-weight: 700;

}