@font-face {
    font-family: 'Inter';
    src: local('Inter'), url('./assets/fonts/Inter-ExtraLight.ttf') format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

* {
    font-family: "Inter";
}